.header {
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: "Poppins", sans-serif !important;
  ::ng-deep
    .mat-mdc-menu-trigger
    .mdc-button
    .mat-mdc-button
    .mat-unthemed
    .mat-mdc-menu-trigger,
  ::ng-deep .mdc-button__label {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  ::ng-deep .mat-mdc-menu-item-text {
    font-family: "Poppins", sans-serif !important;
  }
  // ::ng-deep .mat-mdc-button .mat-mdc-button-persistent-ripple::before {
  //   opacity: none;
  //   background-color: transparent;
  //   display: none;
  // }
  ::ng-deep .mat-button-focus-overlay,
  ::ng-deep .mdc-button:hover {
    background-color: transparent !important;
  }
  .exit {
    color: red !important;
  }
}
