<div class="header d-flex justify-content-end mt-2">
  <button
    mat-button
    [matMenuTriggerFor]="menu"
    disableRipple
    class="no-hover-effect"
  >
    <i class="fa-solid fa-user"></i> Türkanə Məmmədova
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog(userId)">
      <i class="fa-solid fa-key me-1"></i> Şifrəni yenilə
    </button>
    <button mat-menu-item (click)="authService.logout()" class="exit">
      <i class="fa-solid fa-right-from-bracket me-1"></i> Çıxış
    </button>
  </mat-menu>
</div>
