<nav class="sidebar-navigation bg-dark">
  <div class="w-100 py-5 px-2">
    <div class="fhnLogo d-flex justify-content-center">
      <img src="../../../assets/images/fhnLogo.svg" alt="" />
    </div>
  </div>

  <ul>
    <!--Projects-->
    <li
      routerLink="projects"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="router-link-active"
      class="d-flex justify-content-center"
    >
      <div class="sidebar-icon1">
        <img src="../../../assets/images/projects.svg" alt="" />
        <span class="tooltip">Layihələr</span>
      </div>
    </li>
    <!--Categories-->
    <li
      routerLink="categories"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="router-link-active"
      class="d-flex justify-content-center"
    >
      <div class="sidebar-icon2">
        <img src="../../../assets/images/category.svg" alt="" />
        <span class="tooltip">Kateqoriyalar</span>
      </div>
    </li>
    <!--Static Info-->
    <li
      routerLink="static-info"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="router-link-active"
      class="d-flex justify-content-center"
    >
      <div class="sidebar-icon3">
        <img src="../../../assets/images/staticInfo.svg" alt="" />
        <span class="tooltip">Statik məlumatlar</span>
      </div>
    </li>
  </ul>
</nav>
